<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tambah Pemain</title>
</head>
<body>
    <h2>Form Tambah Pemain:</h2><br><br>
    <form action="/api/user" method="POST">
        <label>Username:</label>
        <input type="text" name="username">
        <br><br>
        <label>Password:</label>
        <input type="password" name="password">
        <br><br>
        <label>Nama:</label>
        <input type="text" name="nama">
        <br><br>
        <label>Umur:</label>
        <textarea name="alamat">
        </textarea>
        <br><br>
        <label>Lama Bermain</label>
        <input type="time" name="waktu">
        <br><br>
        <label>Skor</label>
        <input type="text" name="skor">
        <br><br>

        <button value="create">Submit</button>
    </form>
</body>
</html>
