<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashbord CRUD</title>
</head>
<body>
    <button><a href="api/user">Tambah Pemain</a></button>

    <h2>List User: </h2>

    <table style="width:100%">
        <tr>
          <th>No</th>
          <th>Username</th>
          <th>Password</th>
          <th>Created At</th>
          <th>Updated At</th>
          <th>Reaksi</th>
        </tr>
        <% usergames.forEach(i => { %>
        <tr>
            <td><%= i.id %></td>
            <td><%= i.username %></td>
            <td><%= i.password %></td>
            <td><%= i.createdAt %></td>
            <td><%= i.updatedAt %></td>
            <td>
                <form action="api/user/<%= i.id %>?_method=PUT" method="POST">
                    <button style="width:100%;">Update User</button>
                </form>
                <form action="api/clear/<%= i.id %>?_method=DELETE" method="POST">
                    <button style="width:100%;">Delete User</button>
                </form>
            </td>
        </tr>
        <% }) %>
    </table>
</body>
</html>
