<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h2>Login</h2>
    <form action="/" method="POST">
        <label>Username: </label>
        <input type="text" name="username">
        <br><br>
        <label>Password: </label>
        <input type="password" name="password">
        <br><br>

        
        <button type="submit" value="login">Login</button>
    </form>
</body>
</html>
